/* Individual Selection */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    width: 1600px;
}

section {
    width: 1600px;
    display: flex;
    justify-content: space-around;
}

.btn {
    background-color: #469165;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 4px;
}

.btn:hover {
    color: white;
    background-color: #152637;
}

/* Direct selection by tagName className idName etc. */
body .header {
    display: flex;
    justify-content: space-around;
}

body .header-section {
    height: 92px;
    display: flex;
    justify-content: space-between;
    width: 1360px;
}

body .header-section img {
    height: 60px;
    width: 139px;
    margin: 16px 0;
}

body .header-section ul {
    list-style: none;
    display: flex;
    width: 365px;
    justify-content: space-evenly;
    align-items: center;

}

body .header-section ul li {
    font-size: 16px;
    font-weight: medium;
    line-height: 154%;
    color: #000000;
}

body .header-section ul li:hover {
    color: green;
    background-color: #efe5e5;
}

body .header-section button {
    height: 44px;
    width: 164px;
    margin: 24px 0;
    border: none;
    padding: 12.5px 16px;
}

main {
    width: 1600px;
}

.section1 {
    height: 674px;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    align-items: center;
    text-align: center;
}

.section1 div {
    width: 1360px;
    height: 379px;
}

.section1 div p:nth-child(1) {
    height: 35px;
    width: 229px;
    margin: 0 auto;
    background-color: #fff;
    color: #469165;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 16px;

}

.section1 div p:nth-child(1) i {
    margin-right: 5px;
}

.section1 div h1 {
    display: flex;
    flex-direction: column;
    width: 770px;
    height: 168px;
    opacity: 90%;
    margin: 0 auto;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 16px;
}

.section1 div h1 span:nth-child(2) {
    color: #469165;
}

.tryel {
    width: 1360px;
    height: 60px;
    font-size: 18px;
    font-weight: regular;
    line-height: 24px;
    margin-bottom: 32px;
}

.btn1 {
    height: 52px;
    width: 251px;
}

.btn1:hover {
    background-color: #152637;
}

.btn2 {
    color: white;
    background-color: transparent;
    height: 52px;
    width: 198px;
    border-radius: 5px;
}

.btn2:hover {
    background-color: #469165;
    color: white;
}

.section2div {
    display: flex;
    flex-direction: column;
    height: 496px;
    width: 1360px;
    text-align: center;
}

.section2div div h1 {
    padding-top: 30px;
    width: 1360px;
    align-items: bottom;
    color: #001931;
    font-size: 48px;
    margin-bottom: 8px;
}

.section2div div p {
    font-weight: 16px;
    line-height: 20px;
    font-weight: regular;
    color: #627382;
}

.card {
    background-color: white;
    padding: 20px 10px;
    height: 300px;
    width: 322px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 6px -6px;
}

.cardParent {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.card div {
    height: 60px;
    width: 60px;
    background-color: #F95555;
    position: relative;
    margin-bottom: 16px;
    border-radius: 100px;
}

.card div img {
    position: absolute;
    height: 32px;
    top: 25%;
    left: 25%;
    width: 32px;
}

.card h3 {
    font-weight: 600;
    font-size: 24px;
    color: #001931;
    margin-bottom: 24px;
}

.card p {
    font-style: 20px;
    font-weight: regular;
    line-height: 20px;
    color: #627382;
}

.section3 div {
    width: 1360px;
    display: flex;
    gap: 60px;
}

.section3 div img {
    height: 600px;
    width: 600px;

}

.section3 div div {
    display: block; 
    
}
.section3 div div .firsparagroph {
    color: #627382;
    line-height: 20px;
    font-size: 16px;
    font-weight: medium;
    margin-top: 102px;
    margin-bottom: 16px;
    
    
}
.section3 div div h2 {
    width: 700px;
    height: 116px;
    margin-bottom: 16px;
    color: #001931;
    font-weight: bold;
    font-size: 48px;
    
}
.section3 div div .secondparagroph {
    width: 700px;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    color: #627382;
    margin-bottom: 40px;
}
.section3 div div ul {
    list-style-type: none;
}
.section3 div div ul li{
    margin: 16px 0;

}
.section3 div div ul li i{
    background-color: white;
    border-radius: 10px;
    color: #469165;
}
.section4 div{
    height: 384px;
    width: 1360px;
    margin: 120px;
    text-align: center;
    background-color: #F7F6F2;
}
.section4 div h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-top: 80px;
    margin-bottom: 16px;
    
}
.section4 div .section4p1{
    font-size: 16px;
    font-weight: regular;
    line-height: 24px;
    margin-bottom: 24px;

}
.section4 div button{
    height: 52px;
    width: 194px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    margin-bottom: 16px;
}
.section4 div button i{
    font-size: 18px;
}

.footersection{
    background-color: #001931;
    height: 348px;
    color: white; 
}
.footerdiv{ 
    width: 1360px;  
    display: flex;
    margin: 120px 0;
    justify-content: space-between;
    align-items: center;
} 

.footerdiv img{ 
    width: 139px;
    height: 60px;

}
.footerinnerdiv h4{
    margin-bottom: 10px;
}
.footerinnerdiv ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.footerinnerdiv ul li i{
    height: 20px;
    width: 20px;
}
.copyright{
    margin-top: 230px;
}